<div class="container">
    <div class="col-md-12">
        <div class="my-3">
            <h1 class="text-secondary">Counter Application</h1>
        </div>
        <div class="my-3">
            <app-counter-ouput></app-counter-ouput>
        </div>

        <div class="my-3">
            <app-counter-buttons (increment)="onIncrement()" (decrement)="onDecrement()" (reset)="onReset()"></app-counter-buttons>
        </div>

        <div class="my-3">
            <app-custom-input></app-custom-input>
        </div>
    </div>
</div>