<div class="row">
    <div class="col-md-8 border p-5">
        <form [formGroup]="postForm" (ngSubmit)="onAddPost()">
            <div>
                <h2 class="text-danger mb-4 pb-3 border-bottom" style="font-weight:bold">Create a Post</h2>
                <input type="text" class="text-center form-control mt-5" placeholder="Title" formControlName="title">
                <div *ngIf="postForm.get('title').touched && postForm.get('title').invalid">
                    <div *ngIf="postForm.get('title').errors.required" class="text-danger mt-1" style="font-size:.7rem; font-weight:300;text-align: right;">Title is required.</div>
                    <div *ngIf="postForm.get('title').errors.minlength" class="text-danger mt-1" style="font-size:.7rem; font-weight:300;text-align: right;">Title must have minimum 6 characters.</div>
                </div>
                <br>
                <input type="text" class="text-center form-control" placeholder="Description" formControlName="description">
                <div *ngIf="postForm.get('description').touched && postForm.get('description').invalid">
                    <div *ngIf="postForm.get('description').errors.required" class="text-danger mt-1" style="font-size:.7rem; font-weight:300;text-align: right;">Description is required.</div>
                    <div *ngIf="postForm.get('description').errors.minlength" class="text-danger mt-1" style="font-size:.7rem; font-weight:300;text-align: right;">Description must have minimum 6 characters.</div>
                </div>
                <br>
                <button type="submit" class="btn btn-info text-light text-center" style="padding-left: 40%; padding-right:40%;" [disabled]="postForm.invalid">Create</button>
            </div>
        </form>
    </div>
</div>
